body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
}

div {
    position: relative;
    width: 300px;
    height: 50%;
    background-color: white;
    text-align: center;
    margin-top: 6%;
    border-radius: 5%;
    /*
    Não consegui alinhar verticalmente a div pelas configurações display, tive que ir no olhômetro mesmo kkkkkkk (mas isso tá errado)
    */
}

img {
    position: relative;
    width: 90%;
    padding: 5%;
    border-radius: 10%;
}

h1 {
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    margin-top: -5px;
    font-weight: 700;
}

p {
    color: hsl(216, 15%, 48%);
    font-size: 15px; 
    font-weight: 400;
    padding-bottom: 10%;
/*
Diminuir o tamanho do texto <p> mas sem mecher no font-size. Não consegui com o padding, entao  como seria???
*/
}

/*
Adicionar alguma animação/interação no QR code, pro usuário não ficar vendo uma tela fixa e parada. A <div> toda podia ficar se mechendo por ex. (exemplo!!). Deixar a página responsiva.
*/